.min,.medium,.max{
    cursor:pointer;
    height:100px;
    width:150px;
    border-radius:20px;
}
.min{
    background-color: rgb(193, 255, 24);
    font-size:15px;
}
.medium{
    background-color:rgb(252, 119, 10);
    font-size:20px;
}
.max{
    background-color: orangered;
    font-size:25px;
}
.rotatemin{
    animation:rotation 2s;
}
.rotatemedium{
    animation:rotation 1s;
}
.rotatemax{
    animation:rotation 0.5s;
}
.linear{
    animation-timing-function: linear;

}
.infinite{
    animation-iteration-count: infinite;
}
#image-fan-moving-1 {
    width: 400px;
    height: 400px;
    margin: auto;
    display:none;
    
}
#image-fan-moving-2 {
    width: 400px;
    height: 400px;
    margin: auto;
    display:none;
    
}
#image-fan-moving-3 {
    width: 400px;
    height: 400px;
    margin: auto;
    display:none;
    
}
@keyframes rotation{

    from {
        transform:rotate(0deg);

    }to{
        transform:rotate(360deg);
    }

}
.text{
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
    
   
    width: 250px;
}
.text:hover{
    color:blue;
    text-decoration:underline;
}.text2{
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
    
    width: 250px;
}
.text2:hover{
    color:blue;
    text-decoration:underline;
}